<html>
  <body>
    <main>
      <h1>Welcome To Django WebSite!</h1>
      <section>
        <!-- TODO: Add link to cat photos -->
        <p>Google is good website to get more information</p>
        <h2>Click Google image to get more info from google!</h2>
        <a href="https://google.com"><img src="https://www.google.com/logos/doodles/2022/seasonal-holidays-2022-6753651837109831.4-law.gif" alt="A cute orange cat lying on its back."></a>
      </section>
      <section>
        <h2>Lists</h2>
        <h3>Things cats love:</h3>
        <ul>
          <li>cat nip</li>
          <li>laser pointers</li>
          <li>lasagna</li>
        </ul>
        <figure>
          <img src="https://cdn.freecodecamp.org/curriculum/cat-photo-app/lasagna.jpg" alt="A slice of lasagna on a plate.">
          <figcaption>Cats love lasagna.</figcaption>
        </figure>
      </section>
    </main>
  </body>
</html>