<h1>{{ question.subject }}</h1>
<div>
    {{ question.content }}
</div>
<h5>{{ question.answer_set.count }}개의 답변이 있습니다.</h5> <!-- 몇 개의 답변이 등록되어있는지 표시 -->
<div>
    <ul>
    {% for answer in question.answer_set.all %} 
        <li>{{ answer.content }}</li> <!-- 등록한 답변을 li 형식으로 나열 -->
    {% endfor %}
    </ul>
</div>
<form action="{% url 'pybo:answer_create' question_id=question.id %}" method="post">
{% csrf_token %}
<!--<textarea> 태그의 name 속성은 <textarea> 요소의 이름을 명시합니다.
name 속성은 폼(form)이 제출된 후 서버에서 폼 데이터(form data)를 참조하기 위해 사용되거나, 자바스크립트에서 요소를 참조하기 위해 사용됩니다.
id 속성은 <textarea> 요소가 포함될 <form> 요소를 명시함. 이 속성값은 같은 문서 내에 위치하는 <form> 요소의 id 값이어야만 합니다.-->
<textarea name="content" id="content" rows="15"></textarea> <!--여기서의 name은 content=request.POST.get('content')에서의 'content'이다. -->
<input type="submit" value="답변등록">
</form>